@page
@model aoiModel
@{
    ViewData["Title"] = "蒼井";
}

<div class="profile-container aoi-profile">
    <img src="~/images/aoi.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #1e07eb;">自己紹介-蒼井</h1>
    <div class="profile-info-box"><h2>Name:蒼井<br>call:なんとでも構わん<br>Age:19<br>Gender:女<br>B-day:4月16日<br>Chara:頼れるリーダー、指揮官<br>Like:読書、観察<br>Hate:特になし<br>Role:指揮官、観察者人格、防衛的人格<br></h2>
    <h3>なんとでも頼るといい。<br>私の力で良ければ貸そう</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
