@page
@model GalleryModel
@{
    ViewData["Title"] = "思い出ギャラリー";
}

<div class="gallery-container">
    <h1 class="gallery-title">📷 思い出ギャラリー</h1>
    <p class="gallery-description">
        ここには、配信中のスクリーンショットや<br />
        かけがえのない思い出たちを集めていく予定です。<br />
        少しずつ増えていくこの場所を、一緒に見守ってくださいね。
    </p>


    <div class="gallery-card">
        <img src="/images/memory1.png" alt="思い出1" class="gallery-image" />
        <p class="image-caption">
            VRC始めた時に色々教えてくれた皆様！<br>
            超優しくてあったかい時間だった！
        </p>
        <img src="/images/memory2.png" alt="思い出2" class="gallery-image" />
        <p class="image-caption">イケメンのお兄さんに案内してもらった綺麗なとこ！</p>
        <img src="/images/memory3.png" alt="思い出3" class="gallery-image" />
        <p class="image-caption">VRChat始めて5.5時間でアバター作りにチャレンジ！<br>
        なんとかふわふわで軽く出来たから次はポーズ！</p>
        <img src="/images/memory4.png" alt="思い出4" class="gallery-image" />
        <p class="image-caption">初めてのFUJIYAMAで友達できた！<br>
        ちょーかわいくてちょー楽しかった！</p>
    </div>
    <h1 style="color:white"><br>！順次追加予定！</h1>

    @await Html.PartialAsync("_HomeButton")
</div>
