@page
@model GalleryModel
@{
    ViewData["Title"] = "思い出ギャラリー";
}

<div class="gallery-container">
    <h1 class="gallery-title">📷 思い出ギャラリー</h1>
    <p class="gallery-description">
        ここには、配信中のスクリーンショットや<br />
        かけがえのない思い出たちを集めていく予定です。<br />
        少しずつ増えていくこの場所を、一緒に見守ってくださいね。
    </p>


    <div class="gallery-card">
        <img src="/images/memory1.png" alt="思い出1" class="gallery-image" />
        <p class="image-caption">
            VRC始めた時に色々教えてくれた皆様！<br>
            超優しくてあったかい時間だった！
        </p>
        <img src="/images/memory2.png" alt="思い出2" class="gallery-image" />
        <p class="image-caption">イケメンのお兄さんに案内してもらった綺麗なとこ！</p>
        <img src="/images/memory3.png" alt="思い出3" class="gallery-image" />
        <p class="image-caption">VRChat始めて5.5時間でアバター作りにチャレンジ！<br>
        なんとかふわふわで軽く出来たから次はポーズ！</p>
        <img src="/images/memory4.png" alt="思い出4" class="gallery-image" />
        <p class="image-caption">初めてのFUJIYAMAで友達できた！<br>
        ちょーかわいくてちょー楽しかった！</p>
        <img src="/images/memory5.png" alt="思い出5" class="gallery-image" />
        <p class="image-caption">エルシオンちゃんお迎えしたし友達できた！<br>
        なんかめっちゃ綺麗なとこ連れてってくれた！最高か？？</p>
        <img src="/images/memory6.png" alt="思い出6" class="gallery-image" />
        <p class="image-caption">エルシオンちゃん改変完了！<br>
        まだまだやるかもだけどかわいすぎんか？？</p>
        <img src="/images/memory7.png" alt="思い出7" class="gallery-image" />
        <p class="image-caption">海外勢のお友達できた！！<br>
        日本語うますぎる...我々も英語頑張らねば...</p>
        <img src="/images/memory8.png" alt="思い出8" class="gallery-image" />
        <p class="image-caption">綺麗なとこ連れてってもらった！！<br>
        パーティクルワールドとかなんかめっちゃすごかった！！</p>
        <img src="/images/memory9.png" alt="思い出9" class="gallery-image" />
        <p class="image-caption">はじめての同期会！！<br>
        流石に重すぎてほとんど交流できなかった...でもめっっちゃ楽しかった！！<br>次こそはもっと！！！</p>
        <img src="/images/memory10.png" alt="思い出10" class="gallery-image" />
        <p class="image-caption">エルシオン集会！！<br>
       なんかもうはちゃめちゃにみんなかわいくて最高だった！！！</p>
       <img src="/images/memory11.png" alt="思い出11" class="gallery-image" />
        <p class="image-caption">これもエルシオン集会！！<br>
       この写真はかっこいいと思うんだ...✨</p>
       <img src="/images/memory12.png" alt="思い出12" class="gallery-image" />
        <p class="image-caption">アウルカちゃんお迎えした！！<br>
       もううちの子だ...たっぷりかわいがってあげよう</p>
       <img src="/images/memory12-5.png" alt="思い出12" class="gallery-image" />
    <img src="/images/memory13.png" alt="思い出13" class="gallery-image" />
        <p class="image-caption">フレさんいっぱい！！<br>
       初めて作ったワールドでわちゃわちゃ最高だった！！！</p>
    </div>
    <h1 style="color:white"><br>！順次追加予定！</h1>

    @await Html.PartialAsync("_HomeButton")
</div>
