@page
@model IndexModel
@{
    ViewData["Title"] = "ホーム";
}
<div class="header">
    <h1>SAYUKKY.NET</h1>
</div>

<div class="profile-container">
    <img src="~/images/profile.png" alt="Profile Image" class="profile-image" />
    <h1>Aoilo</h1>
    <p>とくに何もしてない(´・ω・｀)<br>音とVR</p>

    <div class="links">
        <p>VRChat: aoilo</p>
        <p>Twitter: <a href="https://twitter.com/aoilont" target="_blank">@@aoilont</a></p>
        <p>Misskey: <a href="https://misskey.io/@@aoi" target="_blank">@@aoi@misskey.io</a></p>
        <p>email: <a href="mailto:aoi@aoilo.net">aoi@aoilo.net</a></p>
        <p>GitHub: <a href="https://github.com/aoilo" target="_blank">@@aoilo</a></p>
        <p>Blog: 工事中</p>
    </div>

    <footer>
        &copy; 2024 Aoilo
    </footer>
</div>
