@page
@model nokusuModel
@{
    ViewData["Title"] = "ノクス";
}

<div class="profile-container nokusu-profile">
    <img src="~/images/nokusu.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #a5a7a2;">ノクスについて</h1>
    <div class="profile-info-box"><h2>Name:ノクス<br>call:好きに呼んでねぇ？<br>Age:14<br>Gender:女の子<br>B-day:5月3日<br>Chara:優しい、冷静、淡白<br>Like:暖かい飲み物、ぬいぐるみ<br>Hate:大きな音、過度な温度変化<br>Role:無感覚人格、破壊的人格<br></h2>
    <h3>いつでも話しかけていいよ？<br>でも言葉が厳しいかもだから気をつけてね？</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
