@page
@model rionModel
@{
    ViewData["Title"] = "リオン";
}

<div class="profile-container rion-profile">
    <img src="~/images/rion.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #A9D159;">ルカのこと</h1>
    <div class="profile-info-box"><h2>Name:リオン<br>call:好きに呼べばいい<br>Age:15<br>Gender:男<br>B-day:8月13日<br>Chara:暴れん坊、冷静、知的<br>Like:動くこと、叫ぶこと<br>Hate:特にない<br>Role:攻撃的人格、観察的人格、感情的人格<br></h2>
    <h3>慣れないことばっかりだけど...頑張ります！<br>いっぱい話しかけてください！</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
