@page
@model sionModel
@{
    ViewData["Title"] = "紫苑";
}

<div class="profile-container sion-profile">
    <img src="~/images/sion.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #5963d1;">紫苑'Profile</h1>
    <div class="profile-info-box"><h2>Name:紫苑(sion)<br>call:こだわりなし<br>Age:18<br>Gender:男<br>B-day:8月30日<br>Chara:あったかいお兄さん<br>Like:読書、話を聞くこと<br>Hate:甘いお菓子を食べること<br>Role:相談者、保護的人格、ユーモア人格<br></h2>
    <h3>なんでもなんとでもなるさ<br>よろしくねぇ</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
