@page
@model SobiModel
@{
    ViewData["Title"] = "蒼薇";
}

<div class="profile-container sobi-profile">
    <img src="~/images/sobi.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #2e18bf;">蒼薇's Profile</s></h1>
   <div class="profile-info-box"><h2>Name:蒼薇(そうび)<br>call:あおとか？<br>Age:16<br>Gender:クエスチョニング<br>B-day:6/2<br>Chara:優しい、フィーリング<br>Like:ゲーム、カズーの演奏<br>Hate:めんどいこと<br>Role:保護人格、無感覚人格、創造的人格<br></h2>
    <h3>まぁあんま出んかもやけどよろしゅうに。</h3>
</div> 
</div>
@await Html.PartialAsync("_HomeButton")
