@page
@model yoruhiModel
@{
    ViewData["Title"] = "夜陽";
}

<div class="profile-container yoruhi-profile">
    <img src="~/images/yoruhi.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #A9D159;">ルカのこと</h1>
    <div class="profile-info-box"><h2>Name:ルカ<br>call:呼びやすいので...!<br>Age:15<br>Gender:男の子<br>B-day:3月3日<br>Chara:繊細、優しい、控えめ<br>Like:読書、天体観測<br>Hate:突然の大きな音、慌ただしい場所、強く責められること<br>Role:感性守、被害者人格、防衛的回避人格<br></h2>
    <h3>慣れないことばっかりだけど...頑張ります！<br>いっぱい話しかけてください！</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
