@page
@model yoruhiModel
@{
    ViewData["Title"] = "夜陽";
}

<div class="profile-container yoruhi-profile">
    <img src="~/images/yoruhi.png" alt="Profile Image" class="profile-image" />
    <h1 style="margin-bottom: 20px;"><span style="color: #A9D159;">夜陽のこと</h1>
    <div class="profile-info-box"><h2>Name:夜陽<br>call:呼びやすいので...!<br>Age:13<br>Gender:無性<br>B-day:2月10日<br>Chara:繊細、依存癖、メンヘラ<br>Like:ぬいぐるみ<br>Hate:捨てられること、ほっとかれること<br>Role:被害者人格、依存的人格<br></h2>
    <h3>いっぱい撫でてかわいがって欲しいな...<br>いっぱい話しかけてください！</h3>
    </div>
</div>
@await Html.PartialAsync("_HomeButton")
